<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 2가지 선택 </h1>
<button onclick="location.href='2nd'">2번</button>
<button onclick="location.href='3nd'">3번</button>



    <h1>뷰 리졸버를 이용한 뷰 연결하기</h1>


<!--
    핸들러 메소드가 요청을 처리하고 논리 뷰 이름을 반환하면 dispatcherServler은 화면에서 데이터를 표시하도록 뷰 템플릿에 제어권을 넘긴다.
    스프링 MVC에서는 다양한 전략에 맞게 뷰를 해석할 수 있는 ViewResolver 구현체 몇 가지가 있따.
    그 중 mvc 기본 설정에는 템플릿 명과 위치에 따른 뷰를 해석하는 InternalResourceViewResolver를 기본 사용한다.
    prefix/suffic를 이용해 뷰 이름을 특정 애픨리케이션 디렉터에 대응시킨다.
    internalReourceViewResolver는 사용이 간단해서 좋기는 하지만 Requestdispatcher가 forward 할 수 있는 내부 리솟스 (jsp 또는 서블릿)만
    타임리프 또한 동일한 방식의 뷰 리졸버인 ThtmeleafViewResolver를 사용한다.
    다만  prefix가 "resources/templates/"이고 suffix가 ".html"이다.
-->
    <h3>문자열로 뷰 이름 반환하기</h3>
    <button onclick="location.href='string'">문자열로 뷰 이름 반환</button>

    <h3>문자열로 redirect하기</h3>
    <button onclick="location.href='string-redirect'">문자열로 뷰 이름 반환하여 리 다이렉트</button>

    <h3>문자열로 뷰이름 반환하면서 flashAttribute 추가하기</h3>
    <button onclick="location.href='string-redirect-attr'">문자열로 뷰 이름 반환하여 리 다이렉트 & flashATTR 사용하기</button>
    <script>
        const flashMessage1 = `[[${flashMessage1}]]`;
        console.log(flashMessage1);

        if(flashMessage1){
            alert(flashMessage1);
        }
    </script>

    <h3> modelandview로 뷰 이름 지정해서 반환하기</h3>
    <button onclick="location.href='modelandview'">ModelAndView로 뷰 이름 지정해서 반환받기</button>

    <h3>ModelAndView로 redirect 하기</h3>
    <button onclick="location.href='modelandview-redirect'">ModelAndView로 뷰 이름 반환하여 리다이렉트</button>

    <h3>ModelAndView로 뷰 이름 반환하면서 flashAttribute 추가 하기</h3>
    <button onclick="location.href='modelandview-redirect-attr'">ModelAndView로 뷰 이름 반환하여 리다이렉트</button>
    <script>
        const flashMessage2 = '[[${ flashMessage2 }]]';
        console.log(flashMessage2);
        if(flashMessage2) {
            alert(flashMessage2);
        }
    </script>
</body>
</html>